node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

data
# Subgraph
chain-rep-subgraph/generated
chain-rep-subgraph/build
# Matchstick
chain-rep-subgraph/tests/.*
